<?php

$fileHeaderComment = <<<COMMENT
This file is part of the EcommitDoctrineEntitiesGeneratorBundle package.

(c) E-commit <contact@e-commit.fr>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('tests/App/var')
;

$rules = [
    '@PHP56Migration' =>  true,
    '@PHP56Migration:risky' => true,
    '@PHP71Migration' => true,
    '@PHP71Migration:risky' => true,
];

if (\PHP_VERSION_ID >= 70300) {
    $rules = array_merge($rules, [
        '@PHP73Migration' => true,
    ]);
}
if (\PHP_VERSION_ID >= 70400) {
    $rules = array_merge($rules, [
        '@PHP74Migration' => true,
        '@PHP74Migration:risky' => true,
    ]);
}

$rules = array_merge($rules, [
    '@Symfony' => true,
    '@Symfony:risky' => true,
    '@DoctrineAnnotation' => true,
    'array_syntax' => ['syntax' => 'short'],
    'fopen_flags' => true,
    'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both'],
    'linebreak_after_opening_tag' => true,
    'mb_str_functions' => true,
    'no_php4_constructor' => true,
    'no_unreachable_default_argument_value' => true,
    'no_useless_else' => true,
    'no_useless_return' => true,
    'ordered_imports' => true,
    'phpdoc_order' => true,
    'protected_to_private' => false,
    'fully_qualified_strict_types' => false,
]);

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules($rules)
    ->setFinder($finder)
;
