parameters:
    ignoreErrors:
        - '#is never read, only written#'
        -
            message: '#no value type specified in iterable type array#'
            path: tests/
        -
            message: '#Cannot call method.+(null|false)#'
            path: tests/GeneratedEntityTest.php
        -
            message: '#(Property|Method).+no (return )*type specified#'
            paths:
                - tests/App/Entity/
                - tests/App/GeneratedEntity/
