name: Tests

on:
    push:
    pull_request:
    schedule:
        - cron: '30 7 * * 1'

jobs:
    tests:
        if: (github.event_name == 'schedule' && github.repository == 'e-commit/doctrine-entities-generator-bundle') || (github.event_name != 'schedule')
        strategy:
            fail-fast: false
            matrix:
                include:
                    #Mini (for each Symfony version)
                    -   php-version: '8.2'
                        symfony-version: '6.4.*'
                        composer-flags: '--prefer-stable --prefer-lowest'
                        description: 'with SF 6.4.* lowest'
                    -   php-version: '8.2'
                        symfony-version: '7.3.*'
                        composer-flags: '--prefer-stable --prefer-lowest'
                        description: 'with SF 7.3.* lowest'
                    -   php-version: '8.2'
                        symfony-version: '7.4.*'
                        composer-flags: '--prefer-stable --prefer-lowest'
                        description: 'with SF 7.4.* lowest'
                    -   php-version: '8.4'
                        symfony-version: '8.0.*'
                        composer-flags: '--prefer-stable --prefer-lowest'
                        description: 'with SF 8.0.* lowest'

                    #Symfony versions
                    -   php-version: '8.2'
                        symfony-version: '6.4.*'
                        description: 'with SF 6.4.*'
                    -   php-version: '8.2'
                        symfony-version: '6.4.*@dev'
                        description: 'with SF 6.4.* dev'
                    -   php-version: '8.5'
                        symfony-version: '7.3.*'
                        description: 'with SF 7.3.*'
                    -   php-version: '8.5'
                        symfony-version: '7.3.*@dev'
                        description: 'with SF 7.3.* dev'
                    -   php-version: '8.5'
                        symfony-version: '7.4.*'
                        description: 'with SF 7.4.*'
                    -   php-version: '8.5'
                        symfony-version: '7.4.*@dev'
                        description: 'with SF 7.4.* dev'
                    -   php-version: '8.5'
                        symfony-version: '8.0.*'
                        description: 'with SF 8.0.*'
                    -   php-version: '8.5'
                        symfony-version: '8.0.*@dev'
                        description: 'with SF 8.0.* dev'
                    -   php-version: '8.5'
                        symfony-version: '8.1.*@dev'
                        description: 'with SF 8.1.* dev'

                    #PHP versions
                    -   php-version: '8.2'
                    -   php-version: '8.3'
                    -   php-version: '8.4'
                    -   php-version: '8.5'

                    #CS
                    -   php-version: '8.2'
                        description: 'with Coding Standards'
                        coding-standards: true

                    # Dependencies
                    -   php-version: '8.5'
                        description: 'with Analyze dependencies'
                        analyze-dependencies: true

                    #Static Analysis (min PHP version)
                    -   php-version: '8.2'
                        description: 'with Static Analysis'
                        static-analysis: true

        name: PHP ${{ matrix.php-version }} ${{ matrix.description }}

        runs-on: 'ubuntu-latest'

        steps:
            -   name: Checkout
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php-version }}
                    extensions: "pdo_sqlite"
                    coverage: none
                    tools: flex
                env:
                    update: true

            -   name: Display versions
                run: |
                    php -r 'foreach (get_loaded_extensions() as $extension) echo $extension . " " . phpversion($extension) . PHP_EOL;'
                    php -i

            -   name: Get Composer cache directory
                id: composer-cache
                run: echo "::set-output name=dir::$(composer config cache-dir)"

            -   name: Cache dependencies
                uses: actions/cache@v3
                with:
                    path: ${{ steps.composer-cache.outputs.dir }}
                    key: composer-${{ runner.os }}-${{ matrix.php-version }}-${{ hashFiles('**/composer.*') }}-${{ matrix.composer-flags }}
                    restore-keys: composer-${{ runner.os }}-${{ matrix.php-version }}-

            -   name: Configure minimum stability
                if: matrix.symfony-version && contains(matrix.symfony-version, '@dev')
                run: composer config minimum-stability dev

            -   name: Remove friendsofphp/php-cs-fixer
                if: matrix.coding-standards != true
                run: composer remove friendsofphp/php-cs-fixer --dev --no-update

            -   name: Remove phpstan/phpstan
                if: matrix.static-analysis != true
                run: composer remove phpstan/phpstan --dev --no-update

            -   name: Configure Symfony Flex
                if: matrix.symfony-version
                run: composer config extra.symfony.require ${{ matrix.symfony-version }}

            -   name: Install dependencies
                run: composer update --no-interaction --no-progress ${{ matrix.composer-flags }}

            -   name: Run PHPUnit
                if: matrix.coding-standards != true && matrix.analyze-dependencies != true && matrix.static-analysis != true
                run: php vendor/bin/phpunit

            -   name: Run PHP CS Fixer
                if: matrix.coding-standards
                run: php vendor/bin/php-cs-fixer fix --diff --dry-run -v

            -   name: Analyze composer dependencies
                if: matrix.analyze-dependencies
                run: |
                    curl -LSs https://github.com/maglnet/ComposerRequireChecker/releases/latest/download/composer-require-checker.phar > composer-require-checker.phar
                    php composer-require-checker.phar check composer.json

            -   name: Run PHPStan
                if: matrix.static-analysis
                run: |
                    php tests/phpstan/console-application.php about > /dev/null
                    php vendor/bin/phpstan --no-progress --error-format=github
